.background-container {
  display: flex;
  flex-direction: row;
  height: 50vh;
  align-items: center;
  width:100vw;
  margin-top: 15vh;
}

.prev-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f62d33;
  cursor: pointer;
  transition: background-color 0.3s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
  right:0px;
}

.prev-button button {
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #f62d33;
  border: none;
  cursor: pointer;
}

.back-icon {
  color: white;
  font-size: 50px;
  font-weight: bold;
  background-color: #f62d33;
  border: none;
  cursor: pointer;
  font-weight: bolder;
}

.next-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f62d33;
  cursor: pointer;
  transition: background-color 0.3s;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
}

.next-button button {
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #f62d33; /* Choose your desired color */
  border: none;
  cursor: pointer;
}

.component-container {
  width: 62%;
}
.mascot-contaier {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.instruction-gudda{
    position: relative;
    height:85%;
    object-fit: contain;
}
.mascot-contaier p{
  text-align: center;
  font-weight: 500;
}
