.navigation_button {
  display: flex;
  margin-top: 7vh;
  justify-content: space-between;
}

.navigation_button button {
  padding: 20px 33px;
  border-radius: 10px;
  font-weight: 500;
  font-family: "SF Pro Rounded";
  border: 1px solid #ededf6;
  letter-spacing: 0.5px;
}

.options-button-container {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.submit-button-container {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}
.submit-button-container button {
  background-color: #f62d33;
  color: white;
  border: none;
  cursor: pointer;
  padding: 20px 50px;
}

.active {
  background-color: #ffc81b;
  color: black;
}
