.instructions-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.instructions-colored-half-part {
    width: 50%;
    background: #ffc81b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "SF Pro Rounded";
}

.instructions-white-half-part{
    width: 50%;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.instruction-heading{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #F03;
}
.instruction-content{
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    margin-inline: 15%;
    justify-content: center;
    align-items: center;
}

.instruction-content p{
    margin-bottom: 3%;
}

.instruction-content p span{
    font-weight: 600;
}

.instruction-button{
    margin-top: 4%;
}

.instruction-button button{
    padding: 10px 60px;
    background: #F03;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.instruction-button button:hover{
    transform: scale(1.05);
}
.instruction-button button:active{
    transform: scale(1);
}
.instructions-colored-half-part p {
    width: 50%;
    font-size: 18px;
    text-align: center;
}

.instructions-colored-half-part img {
    height: 61%;
    margin-top: 5%;
}

.instruction-heading {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-family: "SF Pro Rounded";
}
.instruction-heading h1{
    font-size: 2.2rem;
    font-weight: 600;
    
    color: red;
}